@charset "utf-8";

.logo{
        /* 中央表示 */
	/* top: 50%;
	left: 50%;
    transform: translate(-50%, -50%); 要素に2D変形、または、3D変形を適用する */
}


.d-block{
    min-height: 700px;
}


/*えんじゅんのぼたん
——————————————————————————————————*/
.buttonlist{
    text-align: center;
    margin-bottom: 50px;
}
.btn-blue{
    font-family:"游明朝","Yu Mincho";
    border-color: #93959c;
    padding: 15px 70px;
    width: 25%
}
.btn-blue:hover, .btn-blue:focus {
    background:#2b3f7f;
    color: #fff;
  }
