<!-- ユーザーページのサイドバー要素 -->

<nav class="box1">
    <h2>Menu</h2>
    <ul class="submenu usermenu">
        <li><a class="chat" href="./u_chat.php">チャット</a></li>
        <li><a class="check" href="./u_check.php">準備チェック</a></li>
        <li><a class="plan" href="./u_plan.php">プラン管理</a></li>
        <!-- <li><a class="family" href="./u_family.php">家族会員登録</a></li> -->
        <li><a class="pass" href="./u_pass.php">パスワード変更</a></li>
        <li><a class="unsubscribe" href="./u_unsubscribe.php">退会</a></li>
    </ul>
</nav>



