<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>株式会社 猪狩典礼 ～終活支援サービスサイト～</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="終活をサポートするサイトです">
	<link rel="alternate stylesheet" href="./css/change.css" title="change">
	<script type="text/javascript" src="js/openclose.js"></script>
	<script type="text/javascript" src="js/ddmenu_min.js"></script>
	<script type="text/javascript" src="js/styleswitcher.js"></script>

	<!-- jQueryの呼び出し -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Bootstrap core js -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!-- css,jsの呼び出し -->
	<link type="text/css" href="./css/import.css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="./js/app.js"></script>
	<!-- Font Awesome (朱里のkit) -->
	<script src="https://kit.fontawesome.com/a1bcba65a0.js"></script>
	<!-- HTMLの呼び出し -->
	<script>
		$(function () {
			$("#header").load("./html/include/header.html");
			// $("#main").load("html/main.html");
			$("#footer").load("./html/include/footer.html");
		});
	</script>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}
// -->
</script>
{/literal}
</head>
<body>
<header id="header"></header>


	
	<div class="contents">
		<div class="inner">

			<div class="main">

				<section>
				<form name="form1" action="{$smarty.server.PHP_SELF}" method="post" >


					<h2>会員情報入力</h2>
					<!-- <p>当ページと同じ３項目のお問い合わせフォーム（自動フォーム試用版）を簡単に使えるようにセットしています。<br>
	<span style="color: red;">※当ページ（contact.html）はフォームの見本ページです。実際の自動フォームには使いませんのでご注意下さい。</span></p>
	<p><strong class="color1">■自動フォームを使う場合（※編集に入る前にご確認下さい）</strong><br>
	あなたのメールアドレス設定と、簡単な編集だけで使えます。<a href="http://template-party.com/file/formgen_manual_set2.html" target="_blank">こちらのマニュアルをご覧下さい。</a></p>
	<p><strong class="color1">■自動フォームを使わない場合</strong><br>
	テンプレートに梱包されている「form.html」「confirm.html」「finish.html」の3枚のファイルを削除して下さい。</p> -->

					
					<table class="ta1">
					
					
						<tr>
							<th>お名前※</th>
							<td> 姓 <input type="text" name="user_name" size="15" value="{$smarty.post.user_name|escape}">
							{if isset($err_array.user_name) }<br /><span class="red">{$err_array.user_name}</span>{/if}
							</td>
						</tr>
						<tr>
							<th>お名前(カナ)※</th>
							<td> カナ <input type="text" name="user_name_kana" size="15"value="{$smarty.post.user_name_kana|escape}"> 
							{if isset($err_array.user_name_kana) }<br /><span class="red">{$err_array.user_name_kana}</span>{/if}
							</td>
						</tr>

						<!-- style="border :1px solid #eee; font-size :25px;" -->

						
						
						<tr>
							<th>生年月日</th>
							<td><input type="date" name="birthday"  value="{$smarty.post.birthday|escape}" >
							{if isset($err_array.birthday) }<br /><span class="red">{$err_array.birthday}</span>{/if}</td>
						</tr>

						<tr>
							<th>郵便番号※</th>
							<td><input type="text" name="address_number" size="10" maxlength="7" value="{$smarty.post.address_number|escape}" >
							{if isset($err_array.address_number) }<br /><span class="red">{$err_array.address_number}</span>{/if}</td>
						</tr>

						
						
						<tr>
<th>都道府県<span class="red">＊</span></th>
<td width="70%">
<select name="prefecture_id">
<option value="0" >選択してください</option>
{foreach from=$prefecture_rows key=k item=value}
{if $value.prefecture_id == $smarty.post.prefecture_id}
<option value="{$value.prefecture_id}" selected="selected">{$value.prefecture_name}</option>
{else}
<option value="{$value.prefecture_id}" >{$value.prefecture_name}</option>
{/if}
{/foreach}
</select>
{if isset($err_array.prefecture_id) }<br /><span class="red">{$err_array.prefecture_id}</span>{/if}
</td>
</tr>
						<tr>
							<th>市区町村、番地※</th>
							<td><input type="text" name="address1" size="40" class="ws" value="{$smarty.post.address1|escape}">
							{if isset($err_array.address1) }<br /><span class="red">{$err_array.address1}</span>{/if}</td>
						</tr>

						<tr>
							<th>ビル名、マンション名</th>
							<td><input type="text" name="address2" size="30" class="ws" value="{$smarty.post.address2|escape}" >
							{if isset($err_array.address2) }<br /><span class="red">{$err_array.address2}</span>{/if}</td>
						</tr>

						<tr>
<th>性別<span class="red">＊</span></th>
<td width="70%">
<input type="radio" name="member_gender" value="1" {if $smarty.post.member_gender == 1 }checked="checked"{/if} />男性&nbsp;
<input type="radio" name="member_gender" value="2" {if $smarty.post.member_gender == 2 }checked="checked"{/if} />女性
{if isset($err_array.member_gender) }<br /><span class="red">{$err_array.member_gender}</span>{/if}
</td>
</tr>

						<tr>
							<th>電話番号1※</th>
							<td><input type="text" name="phone_number1" size="4"value="{$smarty.post.phone_number1|escape}" >
							{if isset($err_array.phone_number1) }<br /><span class="red">{$err_array.phone_number1}</span>{/if}</td>
						</tr>

						<tr>
							<th>電話番号2※</th>
							<td><input type="text" name="phone_number2" size="4"  value="{$smarty.post.phone_number2|escape}" >
							{if isset($err_array.phone_number2) }<br /><span class="red">{$err_array.phone_number2}</span>{/if}</td>
						</tr>

						<tr>
							<th>メールアドレス1※</th>
							<td><input type="text" name="mail_address1" size="20"  value="{$smarty.post.mail_address1|escape}" >
							{if isset($err_array.mail_address1) }<br /><span class="red">{$err_array.mail_address1}</span>{/if}
							</td>
						</tr>

						<tr>
							<th>メールアドレス2</th>
							<td><input type="text" name="mail_address2" size="20" value="{$smarty.post.mail_address2|escape}">
							{if isset($err_array.mail_address2) }<br /><span class="red">{$err_array.mail_address2}</span>{/if}
							</td>
						</tr>

						<tr>
							<th>パスワード※</th>
							<td><input type="password" name="passward" size="30" class="ws" value="{$smarty.post.passward|escape}" >
							{if isset($err_array.passward) }<br /><span class="red">{$err_array.passward}</span>{/if}</td>
						</tr>

						<tr>
							<th>パスワード(再確認)※</th>
							<td><input type="password" name="passward_sai" size="30" class="ws" value="{$smarty.post.passward_sai|escape}" >
							{if isset($err_array.passward_sai) }<br /><span class="red">{$err_array.passward_sai}</span>{/if}</td>
		
						</tr>

						<!-- <tr>
						<th>お問い合わせ詳細※</th>
						<td><textarea name="お問い合わせ詳細" cols="30" rows="10" class="wl"></textarea></td>
						</tr> -->
	
					</table>
<input type="hidden" name="func" value="" />
<input type="hidden" name="param" value="" />
<input type="hidden" name="member_id" value="{$member_id}" />


					<p class="c">
							<input type="button" value="内容を確認する" class="btn" onClick="javascript:set_func_form('conf','')">
					</p>


					</form>
				

				</section>

			</div>
			<!--/main-->

		</div>
	</div>

	<p id="pagetop" class="inner"><a href="#">↑</a></p>



	<footer id="footer"></footer>

	<!--メニュー開閉ボタン-->
	<div id="menubar_hdr" class="close"></div>
	<!--メニューの開閉処理条件設定　800px以下-->
	{literal}
	<script type="text/javascript">
		if (OCwindowWidth() <= 800) {
			open_close("menubar_hdr", "menubar-s");
		}
	</script>
	{/literal}

</div>
<!-- /コンテンツ　-->
</div>
<!-- /全体コンテナ　-->
</body>
</html>