<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>株式会社 猪狩典礼 ～終活支援サービスサイト～</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="終活をサポートするサイトです">
	<link rel="alternate stylesheet" href="css/change.css" title="change">
	<script type="text/javascript" src="js/openclose.js"></script>
	<script type="text/javascript" src="js/ddmenu_min.js"></script>
    <script type="text/javascript" src="js/styleswitcher.js"></script>
    <link rel="icon" type="image/vnd.microsoft.icon" href="./images/favicon.png">

	<!-- jQueryの呼び出し -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Bootstrap core js -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- css,jsの呼び出し -->
	<link type="text/css" href="./css/import.css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="./js/app.js"></script>
	<!-- Font Awesome (朱里のkit) -->
	<script src="https://kit.fontawesome.com/a1bcba65a0.js"></script>
	<!-- HTMLの呼び出し -->
	<!-- <script>
		$(function () {
			$("#header").load("./html/include/header.html");
			$("#footer").load("./html/include/footer.html");
		});
	</script> -->
	<style>
		a.knowledge{
			background: #2b3f7f;
			color: #fff;
		}
	</style>
</head>
<body>
	<header id="header">
        {include file='./../../../html/include/header.tmpl'}
    </header>

    <div class="contents">
        <div class="inner">

            <div class="main">

                <section>
                    <h2>エンディングノートとは</h2>
                    <p>その名の通り「人生の終末」を記した「ノート」です。終活は生前から終焉までのライフステージにおいて、“いつ何をすべきか”や“最後はどうあるべきか”などを考えて行動します。頭にあるそれらの計画を具体的に記したのがエンディングノートといえます。
                            エンディングノートという言葉が広まった背景には、終活自体が注目されたこともありますが、「エンディングノート」という映画が公開されたのも大きな要因でしょう。映画の内容は、仕事一筋に生きた末期がんの父親（砂田知昭氏）の姿を、監督である実の娘（砂田麻美氏）が追ったドキュメンタリーです。
                            すべてにおいて生真面目な砂田知昭氏は、余命宣告されると、限られた人生を自分らしく生きるために、そして残された家族が困らないために、エンディングノートを作成します。そのノートは、知昭氏から愛する人たちへのメッセージなのです。2011年公開ですが、現在も上映している映画館もありますし、DVDも発売されています。</p>
                    <h2>エンディングノートを書くメリット</h2>
                    <p>・家族に思いを託すことができる<br>
                            自分の希望を書き残すことができるのがエンディングノートの最大のメリットです。遺産相続など金銭的なことは、法的根拠のある遺言書に記しますが、どのように葬儀を行ってほしいか、誰を呼んでほしいかといったことだけでなく、家族に向けて感謝の言葉を綴ることもできます。<br>
                            ・これまでの人生を振り返ることができる<br>
                            人生は必ずしも平たんなものではありません。しかし辛いことや悲しいことを乗り越えてきたからこそ、今日があります。エンディングノートを書き、これまでの人生を振り返ることで、見過ごしていた幸せに気づくことでしょう。また、これまでの人生を振り返ることにより、これからどう生きていきたいのか考えるきっかけにもなります。</p>
                    <h2>エンディングノートの選び方</h2>
                    <p>エンディングノートに決まった形式はありません。
                            市販のノートでもいいですし、WordやExcelを使ってデジタル管理するのもいいでしょう。
                            また最近ではスマートフォンの普及により、アプリも登場しています。いつでもどこでも書くことができますし、簡単に編集することができるというメリットがあります。ただしスマホのパスワードは、家族であってもショップやメーカーで解除してもらえないというデメリットもあります。デジタルでの管理は状況に応じて使うことをおすすめします。
                            「どのような内容を書けばいいかわからない」「ノートの作り方が分からない」という方は、文房具店や書店などでエンディングノートが販売されていますし、書式をインターネットでダウンロードすることもできますので、必要なものだけダウンロードして印刷し、市販のノートに貼り付けて作成する方法もあります。</p>
                    <h2>エンディングノートの書き方</h2>
                    <p>特に定めはありませんが、エンディングノートの性格上、最初に終末期医療についての対応や葬儀への希望、友人や知人などへの連絡先、貯蓄・保険・年金・その他の貴重品の情報など、突然死亡したときにでも家族が困惑しないための情報を書いておきましょう。<br>
                            それが終われば、何から書き始めても大丈夫。公式な書類ではありませんので、気持ちを楽にして、死後に伝えたいことや今の気持ちなど、ラフな感じで書いて構いません。イラストや写真を載せるなど、自分らしいエンディングノートを作ってみてください。
                            内容について、以下にいくつか挙げてみますので、書くときの参考にしてみてください。<br>
                            ・ご自分のこと<br>
                            この世に生を受けてから、現在までのことを書きます。人の一生には、卒業・就職・結婚・出産など様々なライフイベントがあり、その都度、喜びや悲しみ、ときには怒りもあったはずです。そのようなライフステージを振り返ることで、今後何をするべきかが見えてくることでしょう。これまでの人生を振り返りながら自分史を書いてみましょう。
                            いわゆる個人情報も、ここに記しておきます。家族であれば生年月日くらいは知っていても、本籍地、マイナンバーや年金証書などの基本情報、家系図などは、あまり知らないと思います。そうした情報を書き記すことで、行政などへの手続きがスムーズに行えます。<br>
                            記載例<br>
                            ・生年月日<br>
                            ・本籍地<br>
                            ・家系図<br>
                            ・マイナンバー<br>
                            ・ライフイベント<br>
                            ・人生のターニングポイント<br>
                            ・思い出話<br>
                            ・人生観<br>
                            ・趣味・特技<br>
                            ・コレクション<br>
                            身の回りのこと<br>
                            ペットの世話<br>
                            ひとり暮らしの場合、残されたペットを誰に引き取ってもらうかも決めておかなくてはなりません。ご家族の生活環境によって引き取れない場合などは、早めにスイッチできる人を探しておかなくてはなりません。また、同じ動物でも個性があるので、ノートにはプロフィールやパーソナリティを書いておいてください。
                            デジタル情報<br>
                            最近は高齢者の方でもSNSを楽しむ方が増えています。日々の出来事が綴られているので、亡くなった後に、思い出を振り返るご家族も少なくないでしょう。
                            しかし、これらは退会手続きを取らなければ、永久にアップされたままです。アドレスやパスワード、退会手続きなどの操作方法をノートに記し、いつまで公開するのかを決めておいた方がよいでしょう。その際は、パソコンなどのパスワードの記載もお忘れなく。
                            家族や友人、お世話になった方への感謝の言葉
                            人は一人で生きることはできません。しかし感謝している相手でも、面と向かってお礼を言うのは恥ずかしいものですし、あまりそのような機会も少ないものです。エンディングノートに、家族や友人、お世話になった方への感謝の言葉を綴り、「ありがとう」の気持ちを伝えましょう。</p>
                    <h2>エンディングノートはライフプラン</h2>
                    <p>エンディングノートは「死のためのノート」ではなく、「よりよく死を迎えるためのノート」です。
                            「死んだあとにどうするか」という情報だけではなく、「自分らしい終焉を迎えるために何をすべきか」が綴られます。必ず訪れるゴールに向かって、自分のポジションを確認していく。いわばライフプランのようなものです。過去を振り返ることで、未来が見えてくる。人生を自分らしく生きるために、エンディングノートを始めてみませんか？</p>
                   
                
                </section>

                
            </div>
            <!--/main-->
            <!-- 
            <div class="sub">

                <nav class="box1">
                    <h2>Menu</h2>
                    <ul class="submenu">
                        <li><a href="company.html">会社概要</a></li>
                        <li><a href="recruit.html">介護スタッフ募集中</a></li>
                    </ul>
                </nav>

                <section class="box1">
                    <h2>サンプルホーム</h2>
                    <p class="box2">東京都XX区XXXX<br>
                        TEL：0120-0000-0000<br>
                        受付：午前9時〜午後7時</p>
                </section>

                <section class="box1">
                    <h2>この見出しはh2タグです</h2>
                    <p>このボックスは、class="box1"と指定すれば出ます。</p>
                </section>

                <section>
                    <h2>boxの外も使えます</h2>
                    <ul class="submenu">
                        <li><a href="#">メニューサンプル</a></li>
                        <li><a href="#">メニューサンプル</a></li>
                        <li><a href="#">メニューサンプル</a></li>
                    </ul>
                </section> -->

            </div>
            <!--/sub-->

        </div>
        <!--/inner-->
    </div>
    <!--/contents-->

    <!-- <div class="contents bg1">
        <div class="inner">

            <section>

                <h2>サービスのご案内（１カラムレイアウトでの使用例）</h2>

                <div class="list">
                    <a href="service2.html">
                        <h4>ここはh4見出し</h4>
                        <figure><img src="images/sample1.jpg" alt="" class="fr"></figure>
                        <p>ここにテキストを入れます。サンプルテキスト。専門の調理師が献立を作っております。サンプルテキスト。サンプルテキスト。</p>
                    </a>
                </div>

                <div class="list">
                    <h4>リンクを設定しないと</h4>
                    <figure><img src="images/sample1.jpg" alt="" class="fl"></figure>
                    <p>このブロックのように、ボックス右下の矢印マークが出なくなります。<br>
                        写真のサイズや見出しのデザインなどはcssフォルダのstyle.cssで行なって下さい。<br>
                        imgタグにfrやflのclass指定をすると、画像が右寄り(fr)や、左寄り(fl)になります。詳しくはhtml側を見て下さい。</p>
                </div>

                <div class="list">
                    <a href="service2.html">
                        <h4>画像のclass指定を外すと</h4>
                        <figure><img src="images/sample1.jpg" alt=""></figure>
                        <p>このようなレイアウトになります。</p>
                    </a>
                </div>

            </section>

            <section class="c2">

                <div class="list">
                    <a href="service2.html">
                        <h4>ここはh4見出し</h4>
                        <figure><img src="images/sample1.jpg" alt="" class="fr"></figure>
                        <p>ここにテキストを入れます。サンプルテキスト。専門の調理師が献立を作っております。サンプルテキスト。サンプルテキスト。</p>
                    </a>
                </div>

                <div class="list">
                    <h4>リンクを設定しないと</h4>
                    <figure><img src="images/sample1.jpg" alt="" class="fl"></figure>
                    <p>このブロックのように、ボックス右下の矢印マークが出なくなります。<br>
                        写真のサイズや見出しのデザインなどはcssフォルダのstyle.cssで行なって下さい。<br>
                        imgタグにfrやflのclass指定をすると、画像が右寄り(fr)や、左寄り(fl)になります。詳しくはhtml側を見て下さい。</p>
                </div>

                <div class="list">
                    <a href="service2.html">
                        <h4>画像のclass指定を外すと</h4>
                        <figure><img src="images/sample1.jpg" alt=""></figure>
                        <p>このようなレイアウトになります。</p>
                    </a>
                </div>

                <div class="list">
                    <h4>画像のclass指定を外すと</h4>
                    <figure><img src="images/sample1.jpg" alt=""></figure>
                    <p>このようなレイアウトになります。</p>
                </div>

            </section>
            /c2-->

            <!-- <section class="c3">

                <div class="list">
                    <a href="service2.html">
                        <h4>ここはh4見出し</h4>
                        <figure><img src="images/sample1.jpg" alt="" class="fr"></figure>
                        <p>ここにテキストを入れます。サンプルテキスト。専門の調理師が献立を作っております。サンプルテキスト。サンプルテキスト。</p>
                    </a>
                </div>

                <div class="list">
                    <h4>リンクを設定しないと</h4>
                    <p>このブロックのように、ボックス右下の矢印マークが出なくなります。画像も外してもらってもOK。</p>
                </div>

                <div class="list">
                    <a href="service2.html">
                        <h4>ここはh4見出し</h4>
                        <figure><img src="images/sample1.jpg" alt="" class="fl"></figure>
                        <p>ここにテキストを入れます。サンプルテキスト。専門の調理師が献立を作っております。サンプルテキスト。サンプルテキスト。</p>
                    </a>
                </div>

                <div class="list">
                    <a href="service2.html">
                        <h4>画像のclass指定を外すと</h4>
                        <figure><img src="images/sample1.jpg" alt=""></figure>
                        <p>このようなレイアウトになります。</p>
                    </a>
                </div>

                <div class="list">
                    <h4>画像のclass指定を外すと</h4>
                    <figure><img src="images/sample1.jpg" alt=""></figure>
                    <p>このようなレイアウトになります。</p>
                </div>

                <div class="list">
                    <a href="service2.html">
                        <h4>画像のclass指定を外すと</h4>
                        <figure><img src="images/sample1.jpg" alt=""></figure>
                        <p>このようなレイアウトになります。</p>
                    </a>
                </div>

            </section>
            </c3-->

        <!-- </div> -->
        <!--/inner-->
    <!-- </div> -->
    <!--/contents-->
	<p id="pagetop" class="inner"><a href="#">↑</a></p>


	<footer id="footer">
        {include file='./../../../html/include/footer.tmpl'}
    </footer>
</body>
</html>